In [1]:
import pandas as pd
import numpy as np

In [2]:
data_cumulative_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_cumulative_1.xlsx")
old_data_cumulative_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_cumulative_1.xlsx")

data_individual_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_individual_1.xlsx")
old_data_individual_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_individual_1.xlsx")

In [11]:
data_cumulative_2 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_cumulative_2.xlsx")
old_data_cumulative_2 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_cumulative_2.xlsx")

In [ ]:
data_individual_2 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_individual_2.xlsx")
old_data_individual_2 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_individual_2.xlsx")

In [4]:
data_exog_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_exog_1.xlsx")
old_data_exog_1 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_exog_1.xlsx")

In [2]:
data_individual_1_5 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\data_individual_1-5.xlsx")
old_data_individual_1_5 = pd.read_excel("\\\\ru.nl\\wrkgrp\\TeamIR\\Man_info\\Student Analytics\\Prognosemodel RU\\Syntax\\Python\\studentprognose\\data\\test\\old_data_individual_1-5.xlsx")
new_data_individual_1_5 = pd.read_excel("../../Backup3/data_individual_1-5_new.xlsx")

In [6]:
print(f"Preprocessed data_cumulative: {data_cumulative_1.equals(old_data_cumulative_1)}")
print(f"Preprocessed data_individual: {data_individual_1.equals(old_data_individual_1)}")

print(f"Inschrijfpredictie data_individual: {data_individual_1_5.equals(old_data_individual_1_5)}")
# print(f"Before prediction data_individual: {data_individual_2.equals(old_data_individual_2)}")

print(f"Data_exog: {data_exog_1.equals(old_data_exog_1)}")

Preprocessed data_cumulative: True
Preprocessed data_individual: True
Inschrijfpredictie data_individual: False
Data_exog: False

In [3]:
print(f"Inschrijfpredictie data_individual: {data_individual_1_5.equals(old_data_individual_1_5)}")
print(f"Inschrijfpredictie data_individual: {new_data_individual_1_5.equals(old_data_individual_1_5)}")
print(f"Inschrijfpredictie data_individual: {new_data_individual_1_5.equals(data_individual_1_5)}")

Inschrijfpredictie data_individual: False
Inschrijfpredictie data_individual: False
Inschrijfpredictie data_individual: False

In [16]:
print(f"Before prediction data_cumulative: {data_cumulative_2.equals(old_data_cumulative_2)}")

Before prediction data_cumulative: False

In [12]:
print(data_cumulative_2)
print(old_data_cumulative_2)

        Weeknummer  Collegejaar Faculteit Examentype  Herkomst  \
0                1         2011       FdL   Bachelor       EER
1                2         2011       FdL   Bachelor       EER
2                3         2011       FdL   Bachelor       EER
3                4         2011       FdL   Bachelor       EER
4                5         2011       FdL   Bachelor       EER
...            ...          ...       ...        ...       ...
140578          47         2024      FFTR     Master  onbekend
140579          48         2024      FFTR     Master  onbekend
140580          49         2024      FFTR     Master  onbekend
140581          50         2024      FFTR     Master  onbekend
140582          51         2024      FFTR     Master  onbekend

                        Croho groepeernaam  Gewogen vooraanmelders  \
0          B Algemene Cultuurwetenschappen                     1.0
1          B Algemene Cultuurwetenschappen                     1.0
2          B Algemene Cultuurwetenschappen                     1.0
3          B Algemene Cultuurwetenschappen                     1.0
4          B Algemene Cultuurwetenschappen                     1.0
...                                    ...                     ...
140578  M Theologie & Religiewetenschappen                     0.5
140579  M Theologie & Religiewetenschappen                     0.5
140580  M Theologie & Religiewetenschappen                     0.5
140581  M Theologie & Religiewetenschappen                     0.5
140582  M Theologie & Religiewetenschappen                     0.5

        Ongewogen vooraanmelders  Aantal aanmelders met 1 aanmelding  \
0                            1.0                                   1
1                            1.0                                   1
2                            1.0                                   1
3                            1.0                                   1
4                            1.0                                   1
...                          ...                                 ...
140578                       1.0                                   0
140579                       1.0                                   0
140580                       1.0                                   0
140581                       1.0                                   0
140582                       1.0                                   0

        Inschrijvingen  Aantal_studenten   ts
0                  0.0               NaN  1.0
1                  0.0               NaN  1.0
2                  0.0               NaN  1.0
3                  0.0               NaN  1.0
4                  0.0               NaN  1.0
...                ...               ...  ...
140578             0.0               NaN  0.5
140579             0.0               NaN  0.5
140580             0.0               NaN  0.5
140581             0.0               NaN  0.5
140582             0.0               NaN  0.5

[140583 rows x 12 columns]
        Weeknummer  Collegejaar Faculteit Examentype  Herkomst  \
0                1         2011       FdL   Bachelor       EER
1                2         2011       FdL   Bachelor       EER
2                3         2011       FdL   Bachelor       EER
3                4         2011       FdL   Bachelor       EER
4                5         2011       FdL   Bachelor       EER
...            ...          ...       ...        ...       ...
140854          47         2024      FFTR     Master  onbekend
140855          48         2024      FFTR     Master  onbekend
140856          49         2024      FFTR     Master  onbekend
140857          50         2024      FFTR     Master  onbekend
140858          51         2024      FFTR     Master  onbekend

                        Croho groepeernaam  Gewogen vooraanmelders  \
0          B Algemene Cultuurwetenschappen                     1.0
1          B Algemene Cultuurwetenschappen                     1.0
2          B Algemene Cultuurwetenschappen                     1.0
3          B Algemene Cultuurwetenschappen                     1.0
4          B Algemene Cultuurwetenschappen                     1.0
...                                    ...                     ...
140854  M Theologie & Religiewetenschappen                     0.5
140855  M Theologie & Religiewetenschappen                     0.5
140856  M Theologie & Religiewetenschappen                     0.5
140857  M Theologie & Religiewetenschappen                     0.5
140858  M Theologie & Religiewetenschappen                     0.5

        Ongewogen vooraanmelders  Aantal aanmelders met 1 aanmelding  \
0                            1.0                                   1
1                            1.0                                   1
2                            1.0                                   1
3                            1.0                                   1
4                            1.0                                   1
...                          ...                                 ...
140854                       1.0                                   0
140855                       1.0                                   0
140856                       1.0                                   0
140857                       1.0                                   0
140858                       1.0                                   0

        Inschrijvingen  Aantal_studenten   ts
0                  0.0               NaN  1.0
1                  0.0               NaN  1.0
2                  0.0               NaN  1.0
3                  0.0               NaN  1.0
4                  0.0               NaN  1.0
...                ...               ...  ...
140854             0.0               NaN  0.5
140855             0.0               NaN  0.5
140856             0.0               NaN  0.5
140857             0.0               NaN  0.5
140858             0.0               NaN  0.5

[140859 rows x 12 columns]

In [13]:
df1 = data_cumulative_2
df2 = old_data_cumulative_2

In [14]:
df1[~df1.apply(tuple,1).isin(df2.apply(tuple,1))]

,Weeknummer,Collegejaar,Faculteit,Examentype,Herkomst,Croho groepeernaam,Gewogen vooraanmelders,Ongewogen vooraanmelders,Aantal aanmelders met 1 aanmelding,Inschrijvingen,Aantal_studenten,ts
7045,1,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,3.0,3.0,3,0.0,40.0,3.0
7046,3,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,3.0,3.0,3,0.0,40.0,3.0
7047,4,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,40.0,5.0
7048,5,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,40.0,5.0
7049,6,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,40.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
130272,48,2023,Fdr,Master,NL,M Fiscaal Recht,1.0,1.0,1,0.0,30.0,1.0
130273,49,2023,Fdr,Master,NL,M Fiscaal Recht,1.0,1.0,1,0.0,30.0,1.0
130274,50,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,30.0,1.5
130275,51,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,30.0,1.5
130276,52,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,30.0,1.5

In [15]:
df2[~df2.apply(tuple,1).isin(df1.apply(tuple,1))]

,Weeknummer,Collegejaar,Faculteit,Examentype,Herkomst,Croho groepeernaam,Gewogen vooraanmelders,Ongewogen vooraanmelders,Aantal aanmelders met 1 aanmelding,Inschrijvingen,Aantal_studenten,ts
7045,1,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,3.0,3.0,3,0.0,38.0,3.0
7046,3,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,3.0,3.0,3,0.0,38.0,3.0
7047,4,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,38.0,5.0
7048,5,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,38.0,5.0
7049,6,2012,FdL,Bachelor,NL,B Algemene Cultuurwetenschappen,5.0,5.0,5,0.0,38.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
130548,48,2023,Fdr,Master,NL,M Fiscaal Recht,1.0,1.0,1,0.0,27.0,1.0
130549,49,2023,Fdr,Master,NL,M Fiscaal Recht,1.0,1.0,1,0.0,27.0,1.0
130550,50,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,27.0,1.5
130551,51,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,27.0,1.5
130552,52,2023,Fdr,Master,NL,M Fiscaal Recht,1.5,2.0,1,0.0,27.0,1.5

In [31]:
df1 = data_cumulative_2[data_cumulative_2["Collegejaar"] == 2023]
df2 = old_data_cumulative_2[old_data_cumulative_2["Collegejaar"] == 2023]

print(f"Before prediction data_cumulative: {df1.equals(df2)}")

df3 = df1.merge(df2,indicator = True, how='left').loc[lambda x : x['_merge']!='both']
df3.to_excel("test.xlsx", index=False)

Before prediction data_cumulative: False

In [32]:
df1[~df1.apply(tuple,1).isin(df2.apply(tuple,1))]

,Weeknummer,Collegejaar,Faculteit,Examentype,Herkomst,Croho groepeernaam,Gewogen vooraanmelders,Ongewogen vooraanmelders,Aantal aanmelders met 1 aanmelding,Inschrijvingen,Aantal_studenten,ts
122072,1,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,10.25,24.0,3,0.0,15.0,10.25
122073,2,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,12.83,26.0,5,0.0,15.0,12.83
122074,3,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,13.58,29.0,5,0.0,15.0,13.58
122075,4,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,15.67,35.0,5,0.0,15.0,15.67
122076,5,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,16.75,37.0,6,0.0,15.0,16.75
...,...,...,...,...,...,...,...,...,...,...,...,...
130272,48,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,30.0,1.00
130273,49,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,30.0,1.00
130274,50,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50
130275,51,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50
130276,52,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50

In [33]:
df2[~df2.apply(tuple,1).isin(df1.apply(tuple,1))]

,Weeknummer,Collegejaar,Faculteit,Examentype,Herkomst,Croho groepeernaam,Gewogen vooraanmelders,Ongewogen vooraanmelders,Aantal aanmelders met 1 aanmelding,Inschrijvingen,Aantal_studenten,ts
122276,1,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,10.25,24.0,3,0.0,14.0,10.25
122277,2,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,12.83,26.0,5,0.0,14.0,12.83
122278,3,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,13.58,29.0,5,0.0,14.0,13.58
122279,4,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,15.67,35.0,5,0.0,14.0,15.67
122280,5,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,16.75,37.0,6,0.0,14.0,16.75
...,...,...,...,...,...,...,...,...,...,...,...,...
130548,48,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,27.0,1.00
130549,49,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,27.0,1.00
130550,50,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,27.0,1.50
130551,51,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,27.0,1.50
130552,52,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,27.0,1.50

In [34]:
df1.merge(df2,indicator = True, how='left').loc[lambda x : x['_merge']!='both']

,Weeknummer,Collegejaar,Faculteit,Examentype,Herkomst,Croho groepeernaam,Gewogen vooraanmelders,Ongewogen vooraanmelders,Aantal aanmelders met 1 aanmelding,Inschrijvingen,Aantal_studenten,ts,_merge
0,1,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,10.25,24.0,3,0.0,15.0,10.25,left_only
1,2,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,12.83,26.0,5,0.0,15.0,12.83,left_only
2,3,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,13.58,29.0,5,0.0,15.0,13.58,left_only
3,4,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,15.67,35.0,5,0.0,15.0,15.67,left_only
4,5,2023,FdL,Bachelor,EER,B Algemene Cultuurwetenschappen,16.75,37.0,6,0.0,15.0,16.75,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8200,48,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,30.0,1.00,left_only
8201,49,2023,Fdr,Master,NL,M Fiscaal Recht,1.00,1.0,1,0.0,30.0,1.00,left_only
8202,50,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50,left_only
8203,51,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50,left_only
8204,52,2023,Fdr,Master,NL,M Fiscaal Recht,1.50,2.0,1,0.0,30.0,1.50,left_only