In [10]:
import pandas as pd
import json
import numpy as np

In [11]:
data = pd.read_excel("//ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/output/output_2018wrong.xlsx")
data = data.drop(['Aantal_studenten'], axis=1)
data_student_numbers_f = pd.read_excel("//ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/student_count_first-years.xlsx")
data = data.merge(data_student_numbers_f[['Croho groepeernaam', 'Collegejaar', 'Herkomst', 'Aantal_studenten']], on=['Croho groepeernaam', 'Collegejaar', 'Herkomst'], how='left')

In [12]:
data[data["Collegejaar"] == 2024]

,level_0,index,Examentype,Croho groepeernaam,Herkomst,Faculteit,Collegejaar,Weeknummer,SARIMA_cumulative,SARIMA_individual,...,MAE ratio,MAE sarima cumulative,MAE sarima individual,MAPE weighted ensemble,MAPE average ensemble,MAPE ensemble,MAPE ratio,MAPE sarima cumulative,MAPE sarima individual,Aantal_studenten
572,NaN,NaN,Bachelor,B Algemene Cultuurwetenschappen,EER,FdL,2024,1,13.0,13.604843,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,NaN,NaN,Bachelor,B Algemene Cultuurwetenschappen,EER,FdL,2024,2,18.0,13.413456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,NaN,NaN,Bachelor,B Algemene Cultuurwetenschappen,EER,FdL,2024,3,13.0,12.267436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,NaN,NaN,Bachelor,B Algemene Cultuurwetenschappen,EER,FdL,2024,4,14.0,12.429776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,NaN,NaN,Bachelor,B Algemene Cultuurwetenschappen,EER,FdL,2024,5,14.0,12.520180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172579,165793.0,162795.0,Master,M Theologie & Religiewetenschappen,Niet-EER,FFTR,2024,47,3.0,0.036830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172580,165794.0,162796.0,Master,M Theologie & Religiewetenschappen,Niet-EER,FFTR,2024,48,2.0,0.059384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172581,165795.0,162797.0,Master,M Theologie & Religiewetenschappen,Niet-EER,FFTR,2024,49,2.0,0.043609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172582,165796.0,163350.0,Master,M Theologie & Religiewetenschappen,Niet-EER,FFTR,2024,50,3.0,0.052748,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172583,165797.0,163543.0,Master,M Theologie & Religiewetenschappen,Niet-EER,FFTR,2024,51,3.0,0.054698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.to_excel("output.xlsx", index=False)

In [14]:
data = pd.read_excel("//ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/totaal.xlsx")
data = data.drop(['Aantal_studenten'], axis=1)
data_student_numbers_f = pd.read_excel("//ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/student_count_first-years.xlsx")
data = data.merge(data_student_numbers_f[['Croho groepeernaam', 'Collegejaar', 'Herkomst', 'Aantal_studenten']], on=['Croho groepeernaam', 'Collegejaar', 'Herkomst'], how='left')
data.to_excel("totaal.xlsx", index=False)

In [8]:
data = data_new[~((data_new["Collegejaar"] == 2024) & (data_new["Weeknummer"] == 10) & ~(data_new["SARIMA_cumulative"] >= 0))]
data = data[~((data["Collegejaar"] == 2024) & (data["Weeknummer"] == 11) & ~(data["SARIMA_cumulative"] >= 0))]

print(data[(data["Collegejaar"] == 2024) & (data["Weeknummer"] == 10)]["SARIMA_cumulative"])
print(data[(data["Collegejaar"] == 2024) & (data["Weeknummer"] == 10)]["Voorspelde vooraanmelders"])

print(data[(data["Collegejaar"] == 2024) & (data["Weeknummer"] == 11)]["SARIMA_cumulative"])
print(data[(data["Collegejaar"] == 2024) & (data["Weeknummer"] == 11)]["Voorspelde vooraanmelders"])

165450     14.0
165536     32.0
165622      4.0
165708     30.0
165794    110.0
          ...
185763      1.0
185849      3.0
185935      3.0
186021     73.0
186107      2.0
Name: SARIMA_cumulative, Length: 235, dtype: float64
165450   NaN
165536   NaN
165622   NaN
165708   NaN
165794   NaN
          ..
185763   NaN
185849   NaN
185935   NaN
186021   NaN
186107   NaN
Name: Voorspelde vooraanmelders, Length: 235, dtype: float64
165453     14.0
165539     31.0
165625      4.0
165711     30.0
165797    110.0
          ...
185938      3.0
186024     73.0
186110      2.0
186192      1.0
186193      2.0
Name: SARIMA_cumulative, Length: 238, dtype: float64
165453   NaN
165539   NaN
165625   NaN
165711   NaN
165797   NaN
          ..
185938   NaN
186024   NaN
186110   NaN
186192   NaN
186193   NaN
Name: Voorspelde vooraanmelders, Length: 238, dtype: float64

In [9]:
data.to_excel("totaal.xlsx", index=False)

In [7]:
print(data_new)
print(data_new.columns)

        Unnamed: 0 Examentype                  Croho groepeernaam  Herkomst  \
0                0   Bachelor     B Algemene Cultuurwetenschappen       EER
1                1   Bachelor     B Algemene Cultuurwetenschappen       EER
2                2   Bachelor     B Algemene Cultuurwetenschappen       EER
3                3   Bachelor     B Algemene Cultuurwetenschappen       EER
4                4   Bachelor     B Algemene Cultuurwetenschappen       EER
...            ...        ...                                 ...       ...
165209      165209     Master                     M Tandheelkunde  Niet-EER
165210      165210     Master                         M Theologie        NL
165211      165211     Master                         M Theologie  Niet-EER
165212      165212     Master  M Theologie & Religiewetenschappen        NL
165213      165213     Master  M Theologie & Religiewetenschappen  Niet-EER

       Faculteit  Collegejaar  Weeknummer  Aantal_studenten  \
0            FdL         2013           1               2.0
1            FdL         2013           2               2.0
2            FdL         2013           3               2.0
3            FdL         2013           4               2.0
4            FdL         2013           5               2.0
...          ...          ...         ...               ...
165209       FMW         2024           8               NaN
165210      FFTR         2024           8               NaN
165211      FFTR         2024           8               NaN
165212      FFTR         2024           8               NaN
165213      FFTR         2024           8               NaN

        SARIMA_cumulative  SARIMA_individual  Gewogen vooraanmelders  \
0                     NaN                NaN                    1.00
1                     NaN                NaN                    1.00
2                     NaN                NaN                    1.00
3                     NaN                NaN                    1.00
4                     NaN                NaN                    1.00
...                   ...                ...                     ...
165209                1.0           0.427808                    3.00
165210                2.0           2.848020                    0.50
165211                3.0           0.372016                    8.58
165212               82.0          52.573978                    8.50
165213                3.0           0.119903                    7.17

        Ongewogen vooraanmelders  Aantal aanmelders met 1 aanmelding  \
0                            1.0                                 1.0
1                            1.0                                 1.0
2                            1.0                                 1.0
3                            1.0                                 1.0
4                            1.0                                 1.0
...                          ...                                 ...
165209                       3.0                                 3.0
165210                       1.0                                 0.0
165211                      13.0                                 6.0
165212                       9.0                                 8.0
165213                      10.0                                 6.0

        Inschrijvingen  Prognose_ratio  Ratio  Aanmelding  Average_Ratio
0                  0.0             NaN    NaN         1.0            NaN
1                  0.0             NaN    NaN         1.0            NaN
2                  0.0             NaN    NaN         1.0            NaN
3                  0.0             NaN    NaN         1.0            NaN
4                  0.0             NaN    NaN         1.0            NaN
...                ...             ...    ...         ...            ...
165209             0.0        1.000000    NaN         3.0       3.000000
165210             0.0        6.000000    NaN         1.0       0.166667
165211             0.0        1.300000    NaN        13.0      10.000000
165212             0.0       48.701711    NaN         9.0       0.184798
165213             0.0        1.363636    NaN        10.0       7.333333

[165214 rows x 18 columns]
Index(['Unnamed: 0', 'Examentype', 'Croho groepeernaam', 'Herkomst',
       'Faculteit', 'Collegejaar', 'Weeknummer', 'Aantal_studenten',
       'SARIMA_cumulative', 'SARIMA_individual', 'Gewogen vooraanmelders',
       'Ongewogen vooraanmelders', 'Aantal aanmelders met 1 aanmelding',
       'Inschrijvingen', 'Prognose_ratio', 'Ratio', 'Aanmelding',
       'Average_Ratio'],
      dtype='object')

In [8]:
data = pd.read_excel("//cnas.ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/totaal_old.xlsx")

In [9]:
def read_json(file_path="../configuration/configuration.json"):
    f = open(file_path)

    data = json.load(f)

    f.close()

    return data

configuration = read_json()
numerus_fixus_list = list(configuration["numerus_fixus"].keys())

NFs = configuration["numerus_fixus"]
for year in data["Collegejaar"].unique():
    for week in data["Weeknummer"].unique():
        for nf in NFs:
            nf_data = data[(data["Collegejaar"] == year) & (data["Weeknummer"] == week) & (data["Croho groepeernaam"] == nf)]

            if np.sum(nf_data['Prognose_ratio']) > NFs[nf]:
                nf_data[nf_data["Herkomst"] == "NL"]["Prognose_ratio"] = nf_data[nf_data["Herkomst"] == "NL"]["Prognose_ratio"] - (
                    np.sum(nf_data['Prognose_ratio']) - NFs[nf]
                )

            if np.sum(nf_data['SARIMA_individual']) > NFs[nf]:
                nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_individual"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_individual"] - (
                    np.sum(nf_data['SARIMA_individual']) - NFs[nf]
                )

            if np.sum(nf_data['SARIMA_cumulative']) > NFs[nf]:
                nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_cumulative"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_cumulative"] - (
                    np.sum(nf_data['SARIMA_cumulative']) - NFs[nf]
                )

print(data.columns)

C:\Users\jjble\AppData\Local\Temp\ipykernel_14196\835593902.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nf_data[nf_data["Herkomst"] == "NL"]["Prognose_ratio"] = nf_data[nf_data["Herkomst"] == "NL"]["Prognose_ratio"] - (
C:\Users\jjble\AppData\Local\Temp\ipykernel_14196\835593902.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_individual"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_individual"] - (
C:\Users\jjble\AppData\Local\Temp\ipykernel_14196\835593902.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_cumulative"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_cumulative"] - (

Index(['Examentype', 'Croho groepeernaam', 'Herkomst', 'Faculteit',
       'Collegejaar', 'Weeknummer', 'Aantal_studenten', 'SARIMA_cumulative',
       'SARIMA_individual', 'Gewogen vooraanmelders',
       'Ongewogen vooraanmelders', 'Aantal aanmelders met 1 aanmelding',
       'Inschrijvingen', 'Prognose_ratio', 'Ratio', 'Aanmelding',
       'Average_Ratio'],
      dtype='object')

In [10]:
print(data)

       Examentype                  Croho groepeernaam  Herkomst Faculteit  \
0        Bachelor     B Algemene Cultuurwetenschappen       EER       FdL
1        Bachelor     B Algemene Cultuurwetenschappen       EER       FdL
2        Bachelor     B Algemene Cultuurwetenschappen       EER       FdL
3        Bachelor     B Algemene Cultuurwetenschappen       EER       FdL
4        Bachelor     B Algemene Cultuurwetenschappen       EER       FdL
...           ...                                 ...       ...       ...
165209     Master                     M Tandheelkunde  Niet-EER       FMW
165210     Master                         M Theologie        NL      FFTR
165211     Master                         M Theologie  Niet-EER      FFTR
165212     Master  M Theologie & Religiewetenschappen        NL      FFTR
165213     Master  M Theologie & Religiewetenschappen  Niet-EER      FFTR

        Collegejaar  Weeknummer  Aantal_studenten  SARIMA_cumulative  \
0              2013           1               2.0                NaN
1              2013           2               2.0                NaN
2              2013           3               2.0                NaN
3              2013           4               2.0                NaN
4              2013           5               2.0                NaN
...             ...         ...               ...                ...
165209         2024           8               NaN                1.0
165210         2024           8               NaN                2.0
165211         2024           8               NaN                3.0
165212         2024           8               NaN               82.0
165213         2024           8               NaN                3.0

        SARIMA_individual  Gewogen vooraanmelders  Ongewogen vooraanmelders  \
0                     NaN                    1.00                       1.0
1                     NaN                    1.00                       1.0
2                     NaN                    1.00                       1.0
3                     NaN                    1.00                       1.0
4                     NaN                    1.00                       1.0
...                   ...                     ...                       ...
165209           0.427808                    3.00                       3.0
165210           2.848020                    0.50                       1.0
165211           0.372016                    8.58                      13.0
165212          52.573978                    8.50                       9.0
165213           0.119903                    7.17                      10.0

        Aantal aanmelders met 1 aanmelding  Inschrijvingen  Prognose_ratio  \
0                                      1.0             0.0             NaN
1                                      1.0             0.0             NaN
2                                      1.0             0.0             NaN
3                                      1.0             0.0             NaN
4                                      1.0             0.0             NaN
...                                    ...             ...             ...
165209                                 3.0             0.0        1.000000
165210                                 0.0             0.0        6.000000
165211                                 6.0             0.0        1.300000
165212                                 8.0             0.0       48.701711
165213                                 6.0             0.0        1.363636

        Ratio  Aanmelding  Average_Ratio
0         NaN         1.0            NaN
1         NaN         1.0            NaN
2         NaN         1.0            NaN
3         NaN         1.0            NaN
4         NaN         1.0            NaN
...       ...         ...            ...
165209    NaN         3.0       3.000000
165210    NaN         1.0       0.166667
165211    NaN        13.0      10.000000
165212    NaN         9.0       0.184798
165213    NaN        10.0       7.333333

[165214 rows x 17 columns]

In [11]:
data.to_excel("totaal_new.xlsx", index=False)

In [15]:
row = {'Examentype': ["0"], 'Croho groepeernaam': ["0"], 'Herkomst': ["0"], 'Faculteit': ["0"],
       'Collegejaar': [0], 'Weeknummer': [0], 'Aantal_studenten': [0], 'SARIMA_cumulative': [0],
       'SARIMA_individual': [0], 'Gewogen vooraanmelders': [0],
       'Ongewogen vooraanmelders': [0], 'Aantal aanmelders met 1 aanmelding': [0],
       'Inschrijvingen': [0], 'Prognose_ratio': [0], 'Ratio': [0], 'Aanmelding': [0],
       'Average_Ratio': [0]}

df = pd.DataFrame(row)

data = pd.concat([data, df], ignore_index=True)

In [18]:
# Code to replace data_latest with forecasted data

data = pd.read_excel("../data/output/output_prelim.xlsx")
data_latest = pd.read_excel("//cnas.ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/totaal.xlsx")

def replace_latest_data(data_latest: pd.DataFrame, data: pd.DataFrame):
    years_used = data["Collegejaar"].unique()
    weeks_used = data["Weeknummer"].unique()

    for year in years_used:
        for week in weeks_used:
            data_latest = data_latest[~((data_latest["Collegejaar"] == year) & (data_latest["Weeknummer"] == week))]

    data_latest = pd.concat([data_latest, data], ignore_index=True)

    return data_latest

data_latest = replace_latest_data(data_latest, data)
data_latest.to_excel("output_prefinal.xlsx", index=False)

In [9]:
data_new = pd.read_excel("//cnas.ru.nl/wrkgrp/TeamIR/Man_info/Student Analytics/Prognosemodel RU/Syntax/Python/studentprognose/data/input/totaal.xlsx")

In [10]:
numerus_fixus_list = {
        "B Artificial Intelligence": 200,
        "B Biology": 220,
        "B Biomedische Wetenschappen": 100,
        "B Geneeskunde": 330,
        "B Psychologie": 600,
        "B Tandheelkunde": 67
    }

data = data_new

for year in data["Collegejaar"].unique():
    for week in data["Weeknummer"].unique():
        for nf in numerus_fixus_list:
            nf_data = data[(data["Collegejaar"] == year) & (data["Weeknummer"] == week) & (data["Croho groepeernaam"] == nf)]
            if np.sum(nf_data['SARIMA_individual']) > numerus_fixus_list[nf]:
                data.loc[(data["Collegejaar"] == year) & (data["Weeknummer"] == week) & (data["Croho groepeernaam"] == nf)
                                & (data["Herkomst"] == "NL"), "SARIMA_individual"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_individual"] - (
                    np.sum(nf_data['SARIMA_individual']) - numerus_fixus_list[nf]
                )

            if np.sum(nf_data['SARIMA_cumulative']) > numerus_fixus_list[nf]:
                data.loc[(data["Collegejaar"] == year) & (data["Weeknummer"] == week) & (data["Croho groepeernaam"] == nf)
                                & (data["Herkomst"] == "NL"), "SARIMA_cumulative"] = nf_data[nf_data["Herkomst"] == "NL"]["SARIMA_cumulative"] - (
                    np.sum(nf_data['SARIMA_cumulative']) - numerus_fixus_list[nf]
                )

In [7]:
# print(data[(data["Collegejaar"] == 2022) & (data["Weeknummer"] == 25) & (data["Croho groepeernaam"] == "B Geneeskunde")])
# print(data[(data["Collegejaar"] == 2022) & (data["Weeknummer"] == 25) & (data["Croho groepeernaam"] == "B Geneeskunde")]["SARIMA_individual"])

       index Examentype Croho groepeernaam  Herkomst Faculteit  Collegejaar  \
31934  27663   Bachelor      B Geneeskunde       EER       FMW         2022
32610  28245   Bachelor      B Geneeskunde        NL       FMW         2022
33286  28827   Bachelor      B Geneeskunde  Niet-EER       FMW         2022

       Weeknummer  Aantal_studenten  SARIMA_cumulative  SARIMA_individual  \
31934          25               2.0                1.0           2.276904
32610          25             326.0              325.0         326.292287
33286          25               1.0                3.0           1.430809

       ...  MAE ensemble  MAE ratio  MAE sarima cumulative  \
31934  ...           NaN        NaN                    NaN
32610  ...           NaN        NaN                    NaN
33286  ...           NaN        NaN                    NaN

       MAE sarima individual  MAPE weighted ensemble  MAPE average ensemble  \
31934                    NaN                     NaN                    NaN
32610                    NaN                     NaN                    NaN
33286                    NaN                     NaN                    NaN

       MAPE ensemble  MAPE ratio  MAPE sarima cumulative  \
31934            NaN         NaN                     NaN
32610            NaN         NaN                     NaN
33286            NaN         NaN                     NaN

       MAPE sarima individual
31934                     NaN
32610                     NaN
33286                     NaN

[3 rows x 34 columns]
31934      2.276904
32610    326.292287
33286      1.430809
Name: SARIMA_individual, dtype: float64

In [11]:
data.to_excel("totaal.xlsx", index=False)